:root {
  /* 色管理用の変数 */
  --black-color: #333;
  --primary-color: #FDD818;
}

/* ---------- base ---------- */
body {
  color: var(--black-color);
  font-size: 16px;
  font-family: "Alata", "Noto Sans JP";
  line-height: 1.75;
}

/* ---------- layout ---------- */
.l_header {
  background-color: var(--primary-color);
}

/* ---------- module ---------- */
.answer_result_text {
  font-size: 80px;
}

/* ---------- complete ---------- */
.complete-item-text {
  text-decoration: line-through;
}

/* ---------- answer_result ---------- */
.quiz_box .answer_correct,
.quiz_box .answer_incorrect {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.quiz_box .answer_correct .yes::before {
  font-size: 200px;
  font-weight: bold;
  color: red;
  content: "〇";
}

.quiz_box .answer_incorrect .no::before {
  font-size: 300px;
  font-weight: bold;
  color: blue;
  content: "×";
}

.quiz_box .answer_result {
  visibility: hidden;
  opacity: 0;
}

.quiz_box .active_answer {
  visibility: visible;
  opacity: 0.8;
}

.quiz_box .active_result {
  visibility: visible;
  opacity: 1;
}